.App {
  text-align: center;
}

.section {
  /* background-color: #02d46b; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.a-link {
  font-size: large;
  color: #1687A7;
  margin: 10px;
  text-decoration: none;
  border-radius: 12px;
  padding: 8px 15px 8px 15px;
  border: 4px solid transparent;
  font-weight: bold;
}

.bright {
  color: #FFC947;
  font-weight: bold;
}